.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

button {
  background-color: white;
  border: none;
  width: 200px;
  text-align: left;
  font-size: 20px;
  height: 30px;
}

.lists {
  display: flex;
  height: fit-content;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.todolist {
  border-radius: 10px;
  border: 1px solid black;
  width: 220px;
  height: fit-content;
  padding: 35px;
}