.App {
  text-align: center;
  padding: 10px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

button {
  background-color: white;
  border: none;
  width: 200px;
  text-align: left;
  font-size: 20px;
  height: 30px;
}

.lists {
  display: flex;
  flex-flow: row wrap;
  place-content: flex-start;
}

.List {
  cursor: pointer;
}

.List::after{
  content: '';
  background-image: url("https://cdn3.iconfinder.com/data/icons/musthave/256/Information.png");
  background-size: cover;
  height: 15px;
    float: right;
    margin-right: 10px;
    margin-top: 3px;
    width: 15px;
    display: inline-block;
}

.todolist {
  flex: 1 0 auto;
  width: 220px;
  max-width: 220px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 0 1rem 1rem 0;
  padding: 35px;
}

.field {
  display:block;
  margin-left: 20%;
  margin-right: 20%;
}

label {
  display:inline-block;
  width: 100px;
  text-align: right;
  margin-right: 4px;
}

form input {
  margin-bottom: 6px;
  width: 300px;
  margin-right: 0px !important;
}

input[type="button" i] {
  margin-top: 6px;
  background-color: white;
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 6px;
}

input[type="checkbox" i] {
 cursor: pointer;
}

input[type="button" i]:hover {
  background-color: lightgray;
}

.content {
  display: none;
  overflow: hidden;
  margin: 0;
}

.content p {
  margin-top: 0px;
  margin-bottom: 0px;
}